@use "@/styles/_develop/+.scss" as *;

:root {
  --space-inline: 2rem;
  --space-block: 1rlh;

  @include min-screen(md) {
    --space-inline: 3rem;
  }

  @include min-screen(lg) {
    --space-inline: 4rem;
  }
}
