<div class="common-main">
  <div class="common-main_inner">
    <slot />
  </div>
</div>

<style lang="scss">
  .common-main {
    padding: 0 var(--space-inline);
  }

  // .common-main_inner {}
</style>
